body {
  background-color: #fafafa;
}

.layout, .layout-column, .layout-row {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.layout-row {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.layout-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.layout-padding, .layout-padding-gt-sm, .layout-padding-gt-sm>*, .layout-padding-md, .layout-padding-md>*, .layout-padding>*, .layout-padding>.flex, .layout-padding>.flex-gt-sm, .layout-padding>.flex-md {
  padding: 8px;
}
.layout-margin {
  margin: 8px;
}
.layout-fill {
  margin: 0;
  width: 100%;
  min-height: 100%;
  height: 100%;
}
.flex {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  box-sizing: border-box;
}
.flex-25 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 25%;
  box-sizing: border-box;
}
.flex-80 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 80%;
  box-sizing: border-box;
}